button, .btn{
    font-size: 1rem;
    color:#fff;
    line-height: 1.2;
    text-align: center;
    vertical-align: middle;
    padding: 8px 25px;
    display: inline-block;
    border-radius: 0;
    background: 0 0;
    border: 2px solid transparent;
    cursor: pointer;
    box-shadow: transparent 0 0 0;
    transition: all .5s cubic-bezier(.23,1,.32,1) 0s   ;    
    text-decoration: none;  
    text-transform: uppercase;

    background: $main-col; /* Old browsers */
    // background: -moz-linear-gradient(top, #ed4447 0%, #cc269f 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top, #ed4447 0%,#cc269f 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom, #ed4447 0%,#cc269f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed4447', endColorstr='#cc269f',GradientType=0 ); /* IE6-9 */
    &:hover{
        background: $secondary-col;
    }
    &.btn--white{
        background:#fff;
        color:$main-col;
        &:hover{
            background: $secondary-col;
            color:#fff;
        }
    }
    &.centered{
   
        margin:0 auto;
    }
}