.request__form {
    text-align: center;

    input,
    textarea {
        padding: 1em;
        display: block;
        width: 100%;
        margin-top: 1em;
        resize: none;
        box-sizing: border-box;
        background: #121212;
        color:#f3f1eb;
        font-family: 'Montserrat',Serif;
        border:none;
        outline: none;
    }


    textarea {
        height: 200px;
        resize: vertical;
    }
}