.scroll-to-top__container{
    width: 48px;
    height: 48px;
    position: fixed;
    bottom: 25px;
    right:50px;
    opacity: 0;
    right:-100%;
    pointer-events: none;
    z-index: 99;
    transition: right 0.8s ease-in-out, opacity 0.3s ease;
    &.is-visible{
        opacity: 1;
        right:25px;
        pointer-events: all;
    }
    .btn{
        position: relative;
        display: block;
        border-radius: 100%;
        width:100%;
        height:100%;
        padding:0;
        background: darken($main-col,10%);
        &:hover{
            background: darken($main-col,15%);
            svg{
                top:calc(50% - 12px);   
            }
        }
    }
    svg{

        position: absolute;
        left:50%;
        top:calc(50% - 2px);
        fill:white;
        width:20px;
        height:20px;
        transform: translate(-50%,-50%);
        transition: top 0.3s ease-in-out;
    }
}