.skills-list{
    display: flex;
    flex-wrap: wrap;
    margin:15px 0;
    li{
        width: auto;
        padding: 5px 8px;
        margin:2px;
        color:white;
        border-radius: 0;
        opacity:0;
        transform: translateY(20px);
        transition: opacity 0.3s ease, transform 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
        animation: in 1s;
        &.show{
            opacity:1;
            transform: translateY(0) rotateX(360deg);;
            &:hover{
                animation: out 1s;
            }
        }
        &:first-child{
            margin-left: 0;
            
        }
        &:hover{
            animation: out 1s;
        }
    }

}

@keyframes in {
    0%   { transform: translateY(0) rotateX(0deg); }
    100% { transform: translateY(0) rotateX(360deg); }
}

@keyframes out {
    0%   { transform: translateY(0) rotateX(360deg); }
    100% { transform: translateY(0) rotateX(0deg); }
}