.container {
    position: relative;
    overflow: hidden;
 }
 
.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
 }
 .timeline-block {
    width: 100%;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
 }
 
 .timeline-block-right {
    float: none;
 }

 .timeline-block-left {
    float: none;
    direction: ltr;
 }
 
 .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: $main-col;
    margin-top: 10px;
    z-index: 9999
 }
 
 .timeline-content {
    width: 95%;
    padding: 0 15px;
    
 }
 
 .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
 }
 
 .timeline-content span {
    font-size: 0.9rem;
    color: #a4a4a4;
 }
 
 .timeline-content p {
    font-size: 1rem;
    line-height: 1.5em;
    word-spacing: 1px;
  
 }
 
 
 
 