html{
    font-size: 16px;
    background: #262626;
}
.page-wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.page-wrapper__inner {
    display: flex;
    flex-wrap: wrap;
    padding-top:15px;

    @media screen and (min-width: $responsive-break) {
        flex-wrap: nowrap;
    }

    .sidebar {
        width: 100%;
        margin:0 22px;
        @media screen and (min-width: $responsive-break) {
            width: 300px;
        }
    }

    .main-content {
        width: 100%;
        margin:0 22px;
    }
}
header{
    margin: 25px 0;
    width:100%;
    .top-logo{
        display: block;
        margin:0 auto;
        width: 65px;
        height:65px;
    }
}

.main-content{
   
}
.info-section{
    box-shadow:  -12px -12px 12px 0 rgba(58, 58, 58, 0.3),12px 12px 12px 0 rgba(0,0,0,.2);
    padding:40px;
    margin: 20px 0;
    transform:translateY(50px);
    opacity: 0;
    transition: transform 0.6s ease-out, opacity 0.6s ease;
    border-radius: 15px;

 &.info-section--solid-bg{
    background: $main-col;

    &.status--looking{
        background: $status-green;
        h1{
            border-bottom-color: darken($status-green,10%);
        }
        a{
            color: $status-green;
            &:hover{
                background: darken($status-green,15%);
            }
        }
    }
    &.status--actively{
        background: $status-amber;
        h1{
            border-bottom-color: darken($status-amber,10%);
        }
        a{
            color: $status-amber;
            &:hover{
                background: darken($status-amber,10%);
            }
        }
    }
    &.status--not{
        background: $status-red;
        h1{
            border-bottom-color: darken($status-red,20%);
        }
        a{
            color: $status-red;
            &:hover{
                background: darken($status-red,15%);
            }
        }
    }

    h1,h2,h3,p,a:not(.btn),span{
        color:#fff;
    }
    a:hover{
    color: #fff;
    }
 }
    &.info-section--no-bg{
        background: none;
        border:none;
        padding:0;
        margin:0;
    }

    h1{
        margin-bottom: 1rem;
        padding-bottom:10px;
        border-bottom: 1px solid #aaa
    }
    &.is-in-view{
        opacity:1;
        transform: translateY(0);
    }
    &:first-child{
        margin-top:0;
    }
    .title-lg{
        margin-bottom: 50px;
    }
}
.footer{
    text-align: center;
    padding: 0 15px 15px 15px;
}
