@media print {
    .page-wrapper {
        width: 100%;
    }
    .info-section{
        transform: translateY(0);
        opacity: 1;
        &.info-section--contact{
            display: none;
        }
    }
  }