h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: 'Roboto', Sans-Serif;
    color:$header-col;
}

p{
    margin:1rem 0;
    font-weight: 300;
    color: $text-col;
    line-height: 1.5rem;
}

p,
a,
span,
body {
    font-family: 'Montserrat', Serif;  
    
}

h1,.h1 {
    font-size: 2rem;
}

h2,.h2 {
    font-size: 1.5rem;
}

h3,.h3 {
    font-size: 1.17rem;
}

h4,.h4 {
    font-size: 1.12rem;
}

h5,.h5 {
    font-size: .83rem;
}

h6,.h6 {
    font-size: .75rem;
}

p {
    font-size: 1rem;
}